<div class="modal-header">
    <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div class="modal-information">
        <div class="modal-image-container">
            <img class="img-fluid modal-image" src="{{card.photo}}" alt="">
        </div>
        <div class="modal-information-container">
            <p class="modal-name">Nombre: {{card.name._}}</p>
            <p class="modal-foot">Alineación: {{card.foot}}</p>
        </div>
    </div>
    <div class="modal-details-container">
        <p class="modal-details">Descripción</p>
        <p class="modal-details">{{card.details}}</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
</div>